.layout {
  display: flex;
  flex-direction: column;
  background-color: white;
  font-size: 0.8rem;
  margin: 6rem 0.5rem 2rem 0.5rem;
}

.row {
  border-style: solid;
  border-color: black;
  border-width: 0rem 0rem 0.01rem 0.01rem;
}
